.faq-main-conatiner {
    padding: 3rem 15rem;
}

.faq-topic {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    margin: 0 0 4rem 0;
    color: rgb(19, 19, 117);
}

.faq-topic span{
    color: rgb(241,73,44);
}

.ques-ans-container {
    padding: 1rem 1.5rem;
    color: rgb(19, 19, 117);
    margin: 1rem 0;
    font-size: 1.4rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
}

.ques-ans-container:hover {
    color: rgb(241,73,44);
}

.ques-ans-container .down-arrow {
    width: 40px;
}

.ques-container{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.faq-ans {
    display: none;
}